<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3><%= article.title%></h3>
    <p><%= article.description%></p>
    <p><%= article.author%></p>
    <p><%= article.tags%></p>
    <p><%= article.likes%></p>
    <a href="/article/<%= article.id%>/edit">
      <button>Update</button>
    </a>
    <a href="/article/<%= article.id%>/delete">
      <button>Delete</button>
    </a>
    <a href="/article/">
      <button>Back</button>
    </a>
    <a href="/">
      <button>Home</button>
    </a>
    <a href="/article/<%= article.id%>/likes">
      <button>increase</button>
    </a>
    <a href="/article/<%= article.id%>/dislikes">
      <button>decrease</button>
    </a>
  </body>
</html>
